.navigation-categories {
  .custom-search-banner {
    display: none;
  }
}

// List view remove author avatar, modify width
.topic-list .right {
	margin-left: 0px;
}

img.avatar {
	display: none;
}

.topic-meta-data .names {
	display: none;
}

.topic-meta-data {
	margin-left: 0px;
}
