@import 'variables';

body:not(.navigation-categories):not(.navigation-topics) #main-outlet {
    @include border-radius;
    box-shadow: 0 8px 60px 0 rgba(103,151,255,.10), 0 12px 90px 0 rgba(133,255,103,.10);
    padding: 2em;
    // fix dark mode
    background-color: revert;
    border-top: 8px solid $color-mint-light;
margin-top: .8em;
}

.navigation-categories .navigation-container, .categories-list .navigation-container {
    border-bottom: none;
}

#main-outlet:after  {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    width: 500px;
    height: 500px;
    border-radius: 2000px;
    background: $color-square-gradient;
    right: 1px;
top: -57px;
}

#main-outlet:before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background: $color-square-webkit-gradient;
    background: $color-square-gradient;
    left: 70px;
    top: 350px;
    transform: rotate(74deg);
transform-origin: 0 100%;
}

html .nav-pills > li > a:not(.active):hover {
	background: $color-mint-light;
	//color: var(--primary);
	color: $color-mint-dark;
}

// Icon hover
html.discourse-no-touch .btn-default.btn-default .d-icon, html.discourse-no-touch .btn-icon.btn-default .d-icon {
    color: revert;
    &:hover {
    //color: var(--primary);
    color: $color-mint-dark;
    }
}

// Chat btn
.before-create-topic-button-outlet.category-tag-chat-link-connector .category-tag-chat-link {
	margin-left: 0.5em;
    margin-right: 1em !important;
	border: 6px solid transparent !important;
	//font-size: var(--font-up-1);
	&:hover {
    background: $color-mint;
    //color: var(--primary);
    color: $color-mint-dark;
    }
}

// Create topic btn
#create-topic {
	color: var(--secondary);
	background: $color-mint;
	transition: all 0.3s linear;
	border-radius: 10px;
	text-transform: none;
	border: 2px solid $color-mint;
	//font-size: var(--font-up-1);
    .fa {
    color: revert;
    }
    &:hover {
    background: $color-mint-light;
    //color: var(--primary);
    color: $color-mint-dark;
    }
}

.btn-default {
    color: var(--secondary);
    background: $color-mint;
    transition: all 0.3s linear;
    border-radius: 10px;
    text-transform: none;
    border: 1px solid $color-mint-dark;
    .fa {
    color: revert;
    }
}

.btn-primary {
    border: 1px solid transparent;
    font-size: var(--font-0);
    line-height: normal;
    box-sizing: border-box;
    padding: .5em .65em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: normal;
    color: var(--secondary);
    background: $color-mint;
    cursor: pointer;
    transition: all 0.25s;
    border: 1px solid $color-mint-dark;
}

.select-kit.dropdown-select-box .dropdown-select-box-header {
    background: none;
    border-radius: 10px;
    border: dotted;
    color: $color-mint;
    .fa {
    color: $color-mint !important;
    }
    &:hover {
    border: solid;
    color: $color-mint-dark;
    }
}

.d-toc-regular .d-toc-toggle {
    position: fixed;
    bottom: 5px;
    padding: 0.5em 1em;
    background: $color-mint;
    color: var(--secondary, #fff);
    z-index: 3;
    margin-bottom: env(safe-area-inset-bottom);
}

.menu-panel .d-label {
	color: revert;
}

.alert.alert-info {
	background-color: revert;
	color: $color-mint;
	border-style: dotted;
	// New or unread topics alert
	padding: 8px 120px 8px 90px;
    margin: 4px 0px 0px 0px;
}

#list-area .show-more.has-topics .alert {
    padding: 8px 120px 8px 90px;
}

tbody {
    border-top: 1px solid var(--primary-low);
}

.admin-controls .nav-pills > li a.active, .email-template .nav-pills > li a.active, .admin-container .nav-pills > li a.active {
	background: $color-mint;
	color: var(--secondary);
}

.admin-customize .themes-list-container .themes-list-item.selected {
	background-color: $color-mint;
	color: var(--secondary);
}

.nav-stacked a.active {
	color: var(--secondary);
	background-color: $color-mint;
	position: relative;
	--arrow-thickness: 8px;
}

.md-table table thead tr {
	background-color: revert;
	border-top: 1px solid var(--border-default);
}

.menu-panel .category-links {
	display: none;
}

// Hide topic buttons
// Defer
#topic-footer-button-defer {
	display: none;
}

// Flag
#topic-footer-button-flag {
	display: none;
}

// Bookmark
#topic-footer-button-bookmark {
	display: none;
}

// Draft modal window
.modal-footer .btn {
	margin: 0 0.75em var(--btn-bottom-margin) 0;
    color: var(--secondary);
	background: $color-mint;
	transition: all 0.3s linear;
	border-radius: 10px;
	text-transform: none;
	border: 2px solid $color-mint;
	//font-size: var(--font-up-1);
    .fa {
    color: revert;
    }
    &:hover {
    background: $color-mint-light;
    //color: var(--primary);
    color: $color-mint-dark;
    }
}

.btn-danger, .json-schema-editor-modal .json-editor-btn-delete {
	border: 2px solid transparent !important;
	font-size: var(--font-0);
	line-height: normal;
	box-sizing: border-box;
	padding: .5em .65em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	background: var(--danger) !important;
	cursor: pointer;
}

// Topic chat btn
// .topic-title-chat-icon {
//     display: inline-block;
//     margin-right: 10px;
//     border: 1px solid;
//     border-radius: 10px;
//     padding: 4px;
//     margin-bottom: 10px;
//     &:hover {
//         border: 1px dotted rgba(var(--primary-rgb),0.25);
//         opacity: 1;
//     }
// }

// Category box component dark mode fix
.custom-category-boxes:not(.above-discovery-categories-outlet) .category-box {
	border: 1px solid $color-mint-dark;
}

// Category box component padding-top
.navigation-categories .list-container, .categories-list .list-container {
	padding-top: 0px;
}

// Notification bubble color
.badge-notification.unread-posts {
	background-color: $color-mint-dark;
}
